* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* body fonts */
body {
  font-family: "Barlow Semi Condensed", sans-serif;
}

/* the whole web page */
.wrapper {
  background: radial-gradient(130% 130% at 50% 0%, #1f3756 0%, #141539 100%);
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* header section */

/* scoreboard */
.scoreboard {
  width: 700px;
  height: 150px;
  border: 1px solid #606e85;
  border-width: medium;
  border-radius: 15px;
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*title logo */
.title {
  margin-left: 30px;
}

/* score box */
.score-box {
  width: 135px;
  height: 110px;
  background-color: white;
  border-radius: 8px;
  margin-right: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* score-title */
.score-box p {
  color: #2a46c0;
  font-size: 18px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 2.5px;
}

/* score display */
.score-box h1 {
  color: #3b4363;
  font-size: 60px;
  font-weight: 700;
}

/* MAIN */

/* GAME SECTION OPTIONS */

/* game options */
.main-game .game-options {
  background-image: url("./images/bg-triangle.png");
  background-repeat: no-repeat;
  background-position: center;
  width: 576px;
  height: 430px;
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: center;
  justify-content: space-between;
  align-items: center;
  margin-top: 100px;
}

/* rock image */
.rock-img {
  border: none;
  padding: 40px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  background-color: white;
  box-shadow: 1px 1px 0px 18px #dd405d;
  transform: translate(215px, 53px);
}

/* made an additional class in button div */
.button-rock {
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.25s;
}

/* hoover button */
.button-rock:hover {
  transform: translate3d(215px, 70px, 0px);
}

/* paper image */
.paper-img {
  border: none;
  padding: 40px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  background-color: white;
  box-shadow: 1px 1px 0px 18px #5671f5;
  transform: translate(-130px, -120px);
}

/* made an additional class in button div */
.button-paper {
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.25s;
}

/* hoover button */
.button-paper:hover {
  transform: translate3d(-138px, -130px, 0px);
}

/* scissors image */
.scissors-img {
  border: none;
  padding: 40px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  background-color: white;
  box-shadow: 1px 1px 0px 18px #eca922;
  transform: translate(-105px, -120px);
}

/* made an additional class in button div */
.button-scissors {
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.25s;
}

/* hoover button */
.button-scissors:hover {
  transform: translate3d(-95px, -130px, 0px);
}
