* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* body fonts */
body {
  font-family: "Barlow Semi Condensed", sans-serif;
}

/*======= WEB PAGE WRAPPER ==============*/
.wrapper {
  background: radial-gradient(130% 130% at 50% 0%, #1f3756 0%, #141539 100%);
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

/*======= HEADER ==============*/
/* scoreboard */
.scoreboard {
  width: 700px;
  height: 150px;
  border: solid #606e85;
  border-width: 3px;
  border-radius: 15px;
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*title logo */
.title img {
  display: flex;
  margin-left: 30px;
}

/* score box */
.score-box {
  width: 135px;
  height: 110px;
  background-color: white;
  border-radius: 8px;
  margin-right: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

/* score-box header */
.score-box p {
  color: #2a46c0;
  font-size: 18px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 2.5px;
}

/* score display */
.score-box h1 {
  color: #3b4363;
  font-size: 60px;
  font-weight: 700;
}

/*======= MAIN MIDDLE CONTAINER ==============*/
/* game options */
main .game-options {
  background-image: url("./images/bg-triangle.png");
  background-repeat: no-repeat;
  background-position: center;
  width: 476px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

/* positions all the button around the triangle */
button {
  margin-right: 50px;
  margin-left: 50px;
}

/* paper image */
.paper-img {
  border: none;
  padding: 40px;
  text-align: center;
  background-color: white;
  box-shadow: 1px 1px 0px 18px #5671f5;
}

/* paper png in src */
.paper-img img {
  width: 100%;
}

/* made an additional class in button div */
.button-paper {
  border-radius: 50%;
  transition: all 0.25s;
  display: flex;
  cursor: pointer;
}

/* hoover button */
.button-paper:hover {
  transform: translate3d(-30px, -35px, 0px);
}

/* scissors image */
.scissors-img {
  border: none;
  padding: 40px;
  text-align: center;
  /* font-size: 16px; */
  background-color: white;
  box-shadow: 1px 1px 0px 18px #eca922;
}

/* scissors png in src */
.scissors-img img {
  width: 100%;
}

/* made an additional class in button div */
.button-scissors {
  border-radius: 50%;
  transition: all 0.25s;
  display: flex;
  cursor: pointer;
}

/* hoover button */
.button-scissors:hover {
  transform: translate3d(25px, -35px, 0px);
}

/* rock image */
.rock-img {
  border: none;
  padding: 40px;
  text-align: center;
  background-color: white;
  box-shadow: 1px 1px 0px 18px #dd405d;
}

/* rock png in src */
.rock-img img {
  width: 100%;
}

/* made an additional class in button div */
.button-rock {
  border-radius: 50%;
  transition: all 0.25s;
  display: flex;
  cursor: pointer;
}

/* hoover button */
.button-rock:hover {
  transform: translate3d(0px, -10px, -5px);
}

/* Choices picked */
/* .choices-picked {
  width: 980px;
  display: none;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 50px;
} */

/* Div result in choices-picked section */
/* .choices-picked .result {
  margin-top: 110px;
} */

/* option picked */
/* .user h2 {
  color: white;
  margin-bottom: 70px;
  display: none;
  justify-content: center;
  align-items: center;
  letter-spacing: 2.5px;
  font-size: 20px;
} */

/* you win or lose for the user */
/* h3 {
  color: white;
  font-size: 50px;
  font-weight: 900;
  letter-spacing: 2.5px;
  margin-left: 50px;
  margin-right: 50px;
  align-items: center;
} */

/* play again title may turn red when user loses */
/* .result h4 {
  color: #3b4363;
  align-items: center;
  font-weight: 100;
  font-size: 16px;
} */

/* play again button */
/* .play-again {
  background-color: white;
  border: none;
  border-radius: 8px;
  height: 40px;
  padding: 20px;
  width: 200px;
  display: none;
  justify-content: center;
  margin-top: 15px;
  margin-left: 50px;
  margin-right: 50px;
} */

/* house choice */
/* .house h2 {
  color: white;
  margin-bottom: 70px;
  display: none;
  justify-content: center;
  align-items: center;
  letter-spacing: 2.5px;
  font-size: 20px;
} */

/* .choices-picked > div {
  flex: 1;
} */
/*======= FOOTER ==============*/
/* Footer container */
.footer-container {
  width: 1100px;
  height: 200px;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
}

/* Footer button */
.button-rules {
  border: solid #606e85;
  border-radius: 8px;
  border-width: 2px;
  width: 130px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Footer button name RULES */
.button-rules h4 {
  color: #c4cfdf;
  font-size: 14px;
  font-weight: 600;
  padding: 10px;
  letter-spacing: 2.5px;
}

/* Tablets */
@media screen and (max-width: 1100px) {
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  /*======= WEB PAGE WRAPPER ==============*/
  .wrapper {
    width: 100%;
    height: 100%;
  }

  /* Footer container */
  .footer-container {
    width: 100%;
  }

  /* Footer button */
  .button-rules {
    margin-bottom: 190px;
    margin-right: 20px;
  }
}

/* Large smartphone or tablets */

@media screen and (max-width: 800px) {
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  /*======= WEB PAGE WRAPPER ==============*/
  .wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }

  /*======= HEADER ==============*/
  /* scoreboard */
  .scoreboard {
    width: 700px;
    height: 150px;
    border: solid #606e85;
    border-width: 3px;
    border-radius: 15px;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  /*title logo */
  .title img {
    display: flex;
  }

  /* score box */
  .score-box {
    width: 18%;
    height: 80%;
  }

  /*======= MAIN MIDDLE CONTAINER ==============*/
  /* game options */

  main .game-options {
    /* display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 100px; */
  }

  /* hoover button */
  .button-rock:hover {
    transform: translate3d(0px, 35px, 0px);
  }

  /* Footer container */
  .footer-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  /* Footer button */
  .button-rules {
    width: 130px;
    height: 15%;
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* Footer button name RULES */
  .button-rules h4 {
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 2.5px;
  }
}

/* smartphones */
@media only screen and (max-width: 600px) {
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  /*======= WEB PAGE WRAPPER ==============*/
  .wrapper {
    width: 100%;
    height: 100%;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto; */
  }
  /*======= HEADER ==============*/
  /* scoreboard */
  .scoreboard {
    width: 90%;
    /* height: 5%; */
  }

  /*title logo */
  .title img {
    width: 70%;
    margin-left: 15px;
  }

  /* score box */
  .score-box {
    width: 5%;
    height: 10%;
    margin-right: 15px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
  }
  /* score-box header */
  .score-box p {
    font-size: 15px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 2.5px;
    margin-top: 25px;
  }

  /* score display */
  .score-box h1 {
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 20px;
  }

  /*======= MAIN MIDDLE CONTAINER ==============*/
  /* game options */

  main .game-options {
    background-image: url("./images/bg-triangle.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    margin-top: 50px;
  }

  /* positions all the button around the triangle */
  button {
    margin-right: 35px;
    margin-left: 35px;
  }

  /* paper png in src */
  .paper-img img {
    width: 100%;
  }

  /* scissors png in src */
  .scissors-img img {
    width: 100%;
  }

  /* rock png in src */
  .rock-img img {
    width: 100%;
  }

  /* Footer container */
  .footer-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  /* Footer button */
  .button-rules {
    width: 130px;
    height: 15%;
    margin-bottom: 45px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
    margin-right: 50px;
  }

  /* Footer button name RULES */
  .button-rules h4 {
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 2.5px;
  }
}

/* @media only screen and (max-width: 600px) {
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  .wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .scoreboard {
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .title {
    width: 35%;
    margin-left: 20px;
  }
  .score-box {
    width: 25%;
    height: 75%;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .score-box p {
    width: 50%;
    font-size: 15px;
    font-weight: 500;
    margin-right: 5px;
    line-height: 18px;
    letter-spacing: 2.5px;
  }
  .score-box h1 {
    width: 40%;
    font-size: 50px;
    font-weight: 600;
  }
  .game-options {
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
  }
  .rock-img {
    border: none;
    padding: 25px;
    margin: 30px 50px;
    text-align: center;
    display: inline-block;
    transform: translate(100px, 100px);
  }
  .button-rock {
    width: 25%;
  }
  .button-rock:hover {
    width: 50%;
    transform: translate3d(215px, 70px, 0px);
  }
  .paper-img {
    border: none;
    padding: 25px;
    text-align: center;
    display: inline-block;
  }
  .button-paper {
    width: 25%;
  }
  .button-paper:hover {
    width: 50%;
    transform: translate3d(-138px, -130px, 0px);
  }
  .scissors-img {
    border: none;
    padding: 25px;
    margin: 30px 50px;
    text-align: center;
    display: inline-block;
    box-shadow: 1px 1px 0px 14px #eca922;
    transform: translate(-20px, -130px);
  }
  .button-scissors {
    width: 25%;
  }
} */
